nav{
    background-color: maroon;
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    .logo{
        width: 135px;
        a{
            color: #fff;
            text-decoration: none;
            z-index: 10;
        }
    }
        
    .fight{
        font-size: 20px;
        text-align: center;
        a{
            color: #fff;
            text-decoration: none;
        }
        .disabled{
            pointer-events: none;
        }
    }
    .right-nav{
        width: 135px;
        a{
            color: #fff;
            margin: 5px;
            text-decoration: none;
        }
        .avatar{
            color: #fff;
            margin: 0;
            display: inline;
        }
    }
    
}