.recent-search{
    p{
        padding: 5px 10px;
        width: 25%;
        position: relative;
        background-color:darkcyan;
        border-radius: 25%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 5px;
        transition: .3s;
        &:hover{
            background-color: maroon;
            color: #fff;
        }
    }
}