.container{
    background-color: darkturquoise;
    .display-select{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        div{
            text-align: center;
            width: 30%;
            border: 3px solid black;
            line-height: 26px;
            background-color: #fff;
            color: #000;
            transition: .3s;
    
            &:hover{
                background-color: maroon;
                color: #fff;
            }
        }
    }

    .heroes{
        width: 100%;
        padding: 0;
        list-style: none;
        margin: auto;
        width: 90%;

        .hero{
            background-color:darkorchid;
            border-radius: 5px;
            height: 55vh;
            position: relative;
            margin-bottom: 5px;
            .title{
                color:maroon;
                font-size: 30px;
                font-weight: bold;
                top: 5%;
                margin: 0;
                position: absolute;
                left: 15px;
            }
            img{
                max-height: 90%;
                position: absolute;
                right: 15px;
                top: 5%;
                border-radius: 5px;
            }
            .stats{
                color: #fff;
                position: absolute;
                font-size: 28px;
                top: 20%;
                left: 15px;
                width: 44%;
            }
            button{
                position: absolute;
                bottom: 5%;
                left: 15px;
                font-size: 24px;
                background-color: rgba(167, 20, 20, 0.493);
                border-color: transparent;
                color: #fff;
                border-radius: 5px;
                &:disabled{
                    background-color: grey;
                    color:darkgray;
                }
            }
        }
    }
    
}