<div class="container">
    <div class="display-select">
        <div (click)="display='heroesList'">
            Heroes List
        </div>
        <div (click)="display = 'history'">
            History
        </div>
        <div (click)="display = 'powerups'">
            Powerups
        </div>
    </div>
    

    <div class="heroes" *ngIf="display == 'heroesList'">
        <ul class="heroes">
            <li *ngFor="let hero of selectedHeroes" class="hero">
                <p class="title">{{hero.name}}</p>
                <div class="stats">
                    intelligence {{hero.powerstats.intelligence}}
                    strength {{hero.powerstats.strength}}
                    speed {{hero.powerstats.speed}}
                    durability {{hero.powerstats.durability}}
                    power {{hero.powerstats.power}}
                    combat {{hero.powerstats.combat}}
                </div>
                <img src="{{hero.image.url}}">
                <button class="toggle-hero"
                    (click)="heroService.toggleHero(hero.id)"
                    >
                    {{ heroService.isHeroSelected(hero.id) ? 'Remove hero' : 'Select Hero' }}
                </button>
                <button class='view-hero'>View Hero</button>
            </li>
        </ul>
        <div #addIcon class="add-hero">
            <a routerLink="/"><fa-icon [icon]="addHeroIcon"></fa-icon></a>
        </div>
    </div>

    <div *ngIf="display == 'history'" class="history">
        <table>
            <thead>
                <tr>
                  <th>Battle date</th>
                  <th>Hero name</th>
                  <th>Opponent name</th>
                  <th>Battle result</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Some date</td>
                  <td>Some hero name</td>
                  <td>Opponent name</td>
                  <td>Battle result</td>
                </tr>
        </table>
    </div>
    
</div>

